# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
#dist
bower_components
node_modules
_backup data test
npm-debug.log
*.rar
*.zip
.sublime-project
.sublime-workspace
