//define colors
$red: #cc1111;
$orange: #FBC25C;

//define fonts
@font-face {
  font-family: 'CurseCasualRegular';
  src: url('../fonts/Curse Casual.ttf');
}

html{
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $footer-height;
	background-color: rgba(232, 232, 232, 1);
	background-image: url('../images/cb_main-bg.png');
	background-repeat: repeat;
	background-attachment: fixed;

  .form-control {
		color: #636363;
	}

	.input-group-addon {
		color: #5c5c5c;
	}
}



@include desktop {
  .container {
		max-width: 970px;
	}
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@include mobile {
  .container-fluid {
    padding: 0px;
  }
}

#visit-menu {

	@media screen and (min-width: 1200px) {
		position: fixed;
		text-align: right;
		top: 200px;
		right: 0px;

		ul {
			list-style: none;
		}

		li {
			display: block;
		}
	}

	@include tablet {
		display: none;
	}
  @include mobile {
    display: none;
  }
}
