.footer {
	margin-top: 10px;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;

	background-color: rgba(251, 189, 86, 1);

	.container-fluid {
		background-color: rgba(251, 189, 86, 1);
	}

	#menu-footer {
		display: block;
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 10px 0;

		li {
			display: inline;
			//margin: 5px 10px;
			text-align: center;
			//border-left: solid 2px $red;
		}

		li + li:before {
				content: " | ";
				color: $red;
		}

		// li:before {
		// }

		// li:first-child:before {
		// 	content: none;
		// }

		a {
	 		color: $red;
	 		font-weight: 600;
	 		font-size: 11px;
	 		text-transform: uppercase;
			margin-left: 5px;
			margin-right: 5px;
			font-family: 'CurseCasualRegular';
			letter-spacing: 2px;
			font-size: 13px;
			font-weight: normal;
		}


	}

	.textwidget {
		text-align: center;
		font-size: 12px;
	}
}
