#navigation {
	//background-color: rgba(251, 189, 86, 1);
	background-color: #ccc;
	background: url('../images/cb_header-bg.png');
	//margin-bottom: 10px;
	text-align: center;

	.nav-container {
		margin: 0 auto !important;

		@media screen and (min-width: 1200px){
			width: 970px;
		}
	}

	a {
		color: $red;
		font-family: 'CurseCasualRegular';
		letter-spacing: 1px;
		min-width: 80px;
		font-size: 16px;
	}

	a:hover {
		background-color: rgba(211, 17, 17, 0.8);;
		color: $orange;
	}

	.navbar {
		border-radius: 0;
		border: none;
		background-color: transparent;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.navbar-form {
		margin: 0px;
		padding: 10px;
		display: inline-block;

		@media screen and (min-width: 1200px) {
			//padding-right: 200px;
		}

		input[type='search'] {
			height: 30px;
			width-min: 124px;
			background: none;
			border: none;
			box-shadow: none;

			font-family: 'CurseCasualRegular';
			color: $red;
			letter-spacing: 1px;
			font-size: 14px;
			@media screen and (min-width: 1200px){
				border-right: 2px solid $red;
			}
			border-radius: 0px;
		}

			.glyphicon{
				color: $red;
			}

			input[type='search']::-webkit-input-placeholder { color:$red; }
			input[type='search']::-moz-placeholder { color:$red; } /* firefox 19+ */
			input[type='search']:-ms-input-placeholder { color:$red; } /* ie */
			input[type='search']:-moz-placeholder { color:$red; }

			#submit-btn {
				background-color: transparent;
				border: none;
			}

			i {
				left: -25px;
				top: 3px;
			}
		}
	}

	#login-status {
		min-height: 100px;
		margin: 0px auto !important;
		font-family: 'CurseCasualRegular';
		letter-spacing: 2px;
		font-size: 11px;

		// .container-fluid {
		// 	padding-left: 0px;
		// }

		.logo {
			padding-left: 0px;
			margin-bottom: 10px;
			margin-top: 20px;
		}

		.buttons-stat {
			padding-right: 0px;
			text-align: right;

			.row {
				width: 200px;
			}

			#avatar {
				padding-right: 10px;
			}

			#right-group {
				padding-left: 0px;

				#user {
					font-size: 14px;
					a {
						color: $red;
					}
				}
			}

			img {
				border-radius: 50%;
				background-color: $red;
			}
		}

		.btn {
			margin: 5px;
			background-color: $red;
			font-weight: 600;
			min-width: 90px;
			border-radius: 0px;
			border-style: none;
			color: white;
		}

		button:hover {
			background-color: gray;
		}
	}
