#navigation {
	background-color: rgba(251, 189, 86, 1);
	margin-bottom: 10px;

	.navbar {
		border-radius: 0;
		border: none;
		background-color: transparent;

		margin: 5px auto;

		text-align: center;
		text-transform: uppercase;
	 	color: rgba(210, 18,14, 1);
	}

	.navbar-form {
		input[type='search'] {
			width-min: 124px;
			background: none;
			border: none;
			box-shadow: none;
		}

		#submit-btn {
			background-color: transparent;
			border: none;
		}

		i {
			left: -25px;
			top: 3px;
		}
	}


}