/* LOGIN FORM PAGE */
.login-wrapper {
	background-color: rgba(255, 255, 255, .6);
	padding-bottom: 40px;
	margin-bottom: 10px;
}

.login-form{

	.login-form-error {
		max-width: 400px;
		margin: 20px auto !important;
		text-align: center;
	}

	.login-form-container {
		max-width: 500px;
		margin: 30px auto 0 !important;
		padding: 5px 20px 10px 20px;
		//background-color: white;
		min-height: 340px;

		border-radius: 5px;

		#title {
			text-align: center;
			margin-bottom: 30px;
		}

		.control-label {
			text-align: left;
		}

		#user_login, #user_pass {
			border-radius: 0px;
			box-shadow: none;
		}

		.login-username, .login-password {
			margin-bottom: 0px;
		}

		.login-remember {
			margin-top: -5px;
			font-size: 12px;
			font-style: italic;
			margin-bottom: 30px;
			input[type="checkbox"] {
				transform: scale(.8);
				margin-top: 2px;
			}
		}

		.login-forgot {
			font-size: 12px;
			font-style: italic;
			margin-bottom: 5px;
			a {
				color: black;
			}
		}

	 	input[type="submit"] {
	 		min-width: 100%;
	 		border-radius: 0px;
	 	}

	 	#more-info {
	 		margin-top: 30px;
	 	}

	 	.forgot-password, .sign-up {
			font-size: 11px;
			display: inline;
			a {
				color: $red;
			}
		}

		.forgot-password {
			padding-left: 0px;
		}

		.sign-up {
			padding-right: 0px;
			text-align: right;
		}

		.login-submit {
			padding: 0 15px;

			.btn {
				background-color: $red;
				border: none;

				color: white;
				font-weight: bold;
			}

			.btn-fb {
				background-color: #49639f;
				border-radius: 0px;
			}
		}
	}
}

.divider {
	p {
		position: relative;
		overflow: hidden;
		text-align: center;
		font-size: 11px;
		font-weight: bold;
		color: rgba(0, 0, 0, .6);
		margin-top: 5px;
	}

	p span {
		display: inline-block;
		vertical-align: baseline;
		zoom: 1;
		*display: inline;
		*vertical-align: auto;
		position: relative;
		padding: 0 10px;
	}

	p span:before, p span:after {
		content: '';
		display: block;
		width: 1000px;
		position: absolute;
		top: 0.73em;
		border-top: 1.5px solid rgba(0, 0, 0, .2);;
	}

	p span:before {
		right: 100%;
	}

	p span:after {
		left: 100%;
	}
}

/* SIGN UP FORM PAGE */
.signup-form {
	max-width: 500px;
	margin: 20px auto 0 !important;
	padding: 5px 20px 10px;

	.control-label {
		text-align: left;
	}

	input {
			border-radius: 0px;
			box-shadow: none;
	}

	#title {
		text-align: center;
	}

	#button {
		text-align: center;

		button {
			border-radius: 0px;
			width: 100%;
			background-color: $red;
			border: none;
			font-weight: bold;
		}
	}

	#term-police {
		font-size: 11px;
	}

	a {
		color: $red;
		font-style: italic;
	}

	.btn-fb {
		border-radius: 0px;
		color: white;
		font-weight: bold;
		background-color: #49639f;
		font-style: normal;

	}

}

#message {
	text-align: center;
	.alert {
		max-width: 500px;
		margin: 0 auto 30px !important;
		line-height: .5;
	}
}

body {
	background-color: #E8E8E8;
}

/* ABOUT PAGE Template */
.about-wrapper {
	background-color: rgba(255, 255, 255, .7);
	padding: 20px 30px;
	margin-bottom: 30px;
	margin-top: 20px;

	img {
		margin: 10px auto;
	}

	td {
		font-size: 16px;
		padding-top: 5px;
	}
}

/* Contact Us Page */
.contact-us {

	.map {
		margin: 10px 0;
	}

	ul {
		list-style: none;
		padding-left: 10px;
	}

	.content {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.g-recaptcha {
		@media screen and (max-height: 575px) {
			transform: scale(.77);
			transform-origin: 0 0;
		}
	}

	input, select, textarea {
		border-radius: 0px;
		box-shadow: none;
	}

	.form-username {
		padding-left: 0px;
	}

	a {
		color: $red;
	}

	#message{
		text-align: left;
	}

	.buttons {
		text-align: center;
		padding: 10px;

		.btn {
			background-color: $red;
			min-width: 100px;
			color: white;
			font-weight: bold;
			border: none;
			border-radius: 0px;
			margin: 5px 20px;
		}
	}

}

// Smart News Page
#smart-news {

	.news-highlight {
		background-color: white;
		padding: 15px;
		margin: 20px 0;

		.carousel-indicators {
			bottom: -5px;
			@media screen and (min-width: 1200px){
				left: 93%;
			}
		}

		@media screen and (min-width: 860px){
			#description {
				padding-right: 0px;

				.title {
					padding: 20px 20px 14px;
					min-height: 253px;
					max-height: 253px;

					p {
						font-size: 13px;
					}
				}
			}

			#image {
				padding-left: 0px;
			}

		}

		.headerfiller {
			width: 100%;
			line-height: 3;
			background: url('../images/cb_header-bg.png');
			height: 60px;
			border-bottom: solid 2px white;
		}

		.title {
				background-color: rgba(253,191,88,.8);
				max-height: 250px;

				h1 {
					margin-top: 0px;
					color: $red;
					font-family: 'CurseCasualRegular';
				}
		}
	}	//end news-highlight

	.news-thumbnails {

		.smart-news-title {
				margin: 20px 0 10px;
		}

		.col-sm-4 {
			@media screen and (min-width: 1200px){
				width: 32%;
				margin-right: 9px;
				}
		}

		.news-thumbnail {
			background-color: rgba(255, 255, 255, .8);
			padding: 10px;
			min-height: 280px;
			margin-top: 10px;

			.thumbnail-preview {
				min-height: 130px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover !important;
			}

			.title a {
				color: rgba(0, 0, 0, .7);;
			}

			.title a:hover {
				text-decoration: none;
			}

			img {
				border: none;
				border-radius: none;
			}

			h4 {
				font-weight: bold;
				margin-bottom: 5px;
				h4::after {
					content: ':';
				}
			}

			.description {
				font-size: 11px;
			}
		}

		.advertise-space {
			text-align: center;
			margin-top: 10px;
			background-color: #FBC25A;

			@media screen and (min-width: 1200px) {
				width: 98.5%;
			}

			img {
				margin: 0 auto;
			}
		}

		.custom-pagination {
			text-align: center;
			margin-top: 20px;

			.page-numbers {
					color: white;
					background-color: $red;
					display: inline-block;
					min-width: 25px;
					font-weight: bold;
					padding: 5px;
					font-size: 11px;
			}

			.current {
				text-decoration: underline;
			}

			.page-num {
				display: none;
			}
		}

	}

	.sidemenu {
		//margin-top: 10px;
		padding: 10px;

		.news-popular {
			background-color: rgba(255, 255, 255, .8);
			font-size: 12px;
			font-weight: bold;
			padding: 10px;

			.title-image {
				text-align: center;
			}

			ul {
				padding-left: 0px;
				list-style: none;

				li {
					text-align: center;
					margin-top: 20px;
					margin-bottom: 10px;
				}
			}

			.date {
				font-size: 10px;
				font-weight: normal;
			}
		}

		a {
			color: rgba(0,0,0,.8);
		}

		a:hover {
			color: $red;
			text-decoration: none;
		}

		.news-topics {
			background-color: rgba(255, 255, 255, .8);
			text-align: center;
			margin-top: 20px;
			padding: 10px;

			.main-topics {
				margin-top: 10px;
			}
		}

	}

	.movie-highlight {
		padding: 10px;
		background-color: white;

		// img {
		// 	object-fit: none; /* Do not scale the image */
		//   object-position: center; /* Center the image within the element */
		//   height: 380px;
		//   width: 1200px;
		// }

		.bg-image {
			min-height: 380px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover !important;
		}

		.carousel-caption {
			background-color: rgba(255, 255, 255, .6);
			padding: 5px;
			text-align: left;
			color: rgba(0, 0, 0, .7);;
			text-shadow: none;
			left: 10px;
			bottom: 10px;
			min-height: 80px;
			width: 60%;
			padding: 10px;
		}

		h4 {
			font-weight: bold;
			margin: 0px;
			font-family: 'CurseCasualRegular';
			letter-spacing: 2px;
		}

		p {
			font-size: 12px;
			margin-top: 3px;
		}
	}

	.sort-by {
		select {
			-webkit-appearance: none;
	    -moz-appearance: none;
	    //text-indent: -4px;
	    text-overflow: '';
			border: none;
			border-radius: 0px;
			box-shadow: none;
			color: $red;
			background: $orange url("../images/cb-dropdown.png") no-repeat 98% 50%;
		}
	}

}


.user-dashboard {
	.user-info-header {
		margin: 20px 0px;

		.user-photo {
			padding-left: 0px;
		}

		img {
			border: 5px white solid;
			background-color: $red;
		}
		.user-login {
			font-weight: bold;
		}
		.info-group {
			background-color: rgba(255, 255, 255, .8);
			display: inline-block;
			padding: 5px;
		}
		.btn {
			background-color: $red;
			border-radius: 0px;
			border: none;
			color: white;
			margin-top: 10px;
			line-height: .8;
		}
	}

	.main-profile {
		.profile-detail {
			background-color: rgba(255, 255, 255, .8);
			padding: 20px;

			@media screen and (min-width: 1200px) {
				padding-left: 50px;
			}

			.title {
				font-weight: bold;
				font-size: 18px;
			}

			dt {
				text-align: left;
				font-weight: normal;
			}

			.detail-group {
				margin: 15px 0;
			}

			input, textarea {
				border-radius: 0px;
				box-shadow: none;
			}
			.forgot-pass {
				color: $red;
				font-size: 11px;
				font-style: italic;
			}

		}

		.last-comment {
			background-color: rgba(255, 255, 255, .8);
			padding: 10px;
			text-align: center;

			img {
				margin: 0 auto 20px;
			}

			a {
				color: rgba(0, 0, 0, .8);;
			}

			a:hover {
				color: $red;
			}

			ul {
				list-style: none;
				padding-left: 0px;

				li {
					margin-bottom: 20px;
					.comment {
						font-weight: bold;
						font-size: 12px;
					}
					.date {
						font-size: 9px;
					}
				}
			}
		}
	}

	.popular-post {

	 margin-bottom: 10px;

	 h2 {
		 background-color: rgba(254,192,91,1);
		 padding-left: 20px;
		 padding-top: 5px;
		 padding-bottom: 5px;
		 margin-top: 0px;
		 width: 200px;
		 font-size: 20px;
		 font-weight: 800px;
		 color: $red;
		 box-shadow: 3px 3px $red;
	 }

	 .pp-content {
		 padding: 10px;
		 min-height: 250px;
	 }

	 .wpp-thumbnail {
		 display: block;
		 float: none;
		 margin: 0 auto;
		 width: 100%;
		 background-color: white;
		 padding: 10px;
	 }

	 .pp-title {
		 background-color: white;
		 padding: 10px;
		 min-height: 80px;
		 max-height: 80px;
		 font-size: 12px;

		 a {
			 color: #555;
		 }
	 }
	}

	.wpua-edit-container {
		h3 {
			display: none;
		}
	}

	.buttons {
		text-align: center;
		.btn {
			min-width: 100px;
			background-color: $red;
			border: none;
			border-radius: 0px;
			font-weight: bold;
			margin-right: 20px;
		}
	}
}
